/* stylesheet */

body {
    background-image: url("#");
    margin: 0px;
    padding: 0pc;
}

.jumbotron {
    background-color: aqua;
    color: white;
}

.target-number {
    font-size: 30px;
    background-color: blueviolet;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.win-lose-counter {
    background-color: white;
    border-style: solid;
    border-color: aliceblue;
    border-width: 5px;
}

.crystal-images {
    margin-top: 10px;
    margin-bottom: 10px;
}

.total-score {
    color: white;
    background-color: coral;
}

.score-number {
    color: white;
    background-color: cornflowerblue;
    font-size: 30px;
}

#jewel1 {
    margin-left: 15px;
    width: 15%;
    float: left;
}